# Specify the alternative index URL for PyTorch
--find-links https://download.pytorch.org/whl/cpu/torch_stable.html

# Core Web/API dependencies
fastapi
uvicorn[standard]
python-dotenv

# ML/CV dependencies
torch==2.3.1+cpu
numpy
opencv-python
mediapipe