@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 37 47% 93%;
    --foreground: 160 18% 45%;

    --card: 0 0% 100%;
    --card-foreground: 200 15% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 200 15% 20%;

    --primary: 122 27% 76%; 
    --primary-foreground: 0 0% 100%;

    --secondary: 200 10% 92%;
    --secondary-foreground: 200 15% 20%;

    --muted: 200 10% 95%;
    --muted-foreground: 200 10% 45%;

    --accent: 189 32% 33%;
    --accent-foreground: 0 0% 100%;

    --success: 142 76% 36%;
    --success-foreground: 0 0% 100%;

    --destructive: 15 64% 65%;
    --destructive-foreground: 0 0% 100%;

    --border: 200 10% 88%;
    --input: 200 10% 88%;
    --ring: 174 62% 47%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 200 20% 12%;
    --foreground: 0 0% 95%;

    --card: 200 18% 16%;
    --card-foreground: 0 0% 95%;

    --popover: 200 18% 16%;
    --popover-foreground: 0 0% 95%;

    --primary: 174 62% 47%;
    --primary-foreground: 0 0% 100%;

    --secondary: 200 15% 22%;
    --secondary-foreground: 0 0% 95%;

    --muted: 200 15% 20%;
    --muted-foreground: 200 10% 60%;

    --accent: 174 62% 47%;
    --accent-foreground: 0 0% 100%;

    --success: 142 76% 36%;
    --success-foreground: 0 0% 100%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;

    --border: 200 15% 24%;
    --input: 200 15% 24%;
    --ring: 174 62% 47%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
